<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <p>Alla users här</p>


    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    First name
                </th>
                <th scope="col" class="px-6 py-3">
                    Last name
                </th>
                <th scope="col" class="px-6 py-3">
                    email
                </th>
                <th scope="col" class="px-6 py-3">
                    Role
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempUser : ${usersWithAuthorities}" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th th:text="${tempUser['first_name']}" scope="row" class="px-6 py-4 font-normal">
                </th>
                <td th:text="${tempUser['last_name']}" class="px-6 py-4"></td>
                <td th:text="${tempUser['email']}" class="px-6 py-4"></td>
                <td th:text="${tempUser['authority']}"></td>
                <td class="px-6 py-4">
                    <form action="#" th:action="@{/admin/createAccount}" method="POST">
                        <input type="hidden" name="userId" th:value="${tempUser['id']}">
                        <button type="submit" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Create Account</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Visa alla lärare + elever på skolan  + info -->
    <!-- Lägg till extra funktioner för admin   -->



    <a href="/classroom/home">Home</a>
</body>
</html>